@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: CrimsonText;
  src: url(../fonts/CrimsonText-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: none !important;
  line-height: 1.2 !important;
}

h1 {
  font-size: 3.25 rem;
}

body {
  font-family: CrimsonText, 'Times New Roman', Times, serif;
}